html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar-item:hover {
  background-color: #a8cbb5 !important;
}

.active-menu-item {
  background-color: #5e9372 !important;
  color: white !important;
}

.active-menu-item:hover {
  background-color: #5e93729b !important;
}

.not-active-menu-item:hover {
  background-color: rgba(132, 132, 132, 0.449) !important;
}

#main {
  flex: 1;
}

#main > .columns {
  min-height: 100%;
}

.sidebar {
  width: 250px;
  background: whitesmoke;
  min-height: 100%;
}

#counter {
  width: 80px;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.rotated-header {
  width: 8%;
  transform: rotate(-45deg);
  writing-mode: vertical-lr;
}

.custom-button {
  background-color: #5e9372;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #5e937299;
}

.delete-button {
  color: rgb(175, 39, 39);
}

.delete-button:hover {
  color: rgba(152, 16, 16, 0.601);
}

.input {
  font-size: 16px !important;
}